
/************************
****** Page Layout ******
************************/

/*
#core-nav { background-color:#77b5db; }
#core-nav a, #core-nav span { color:#2c7099 !important; }
#core-nav a:hover { background-color:#97d5fb; }

.core-link { border-bottom:solid 1px #2C7099; }

#container { background-color:#d9e8f7; }
*/

#content a { color: #686868; }
#content a:visited { color: #686868; }

/*************************
****** Forum Styles ******
*************************/
.overwrap-box { background-color:#d5e4ed; border:solid 1px #c0c0c0; border-radius:4px; padding:6px; margin-bottom:7px; }
.overwrap-line { padding:0px 6px 0px 6px; font-size:1.2em; font-weight:bold; }
.overwrap-line>div { display:inline-block; vertical-align:top; }

.overwrap-name { }
.overwrap-posts { text-align:center; font-size:0.8em; }
.overwrap-views { text-align:center; font-size:0.8em; }
.overwrap-details { font-size:0.8em; }

.inner-box { display:table; border-collapse:collapse; background-color:#e8eef1; border:solid 1px #c0c0c0; border-radius:4px; margin-top:6px; border-bottom:none; width:100%; }
.inner-line { display:table-row; border-bottom:solid 1px #c0c0c0; height:50px; }
.inner-line a:hover { color:#16B9B3 !important; }

.inner-name { display:table-cell; vertical-align:top; border-right:solid 1px #c0c0c0; font-weight:bold; color:#56ccc8 !important; padding:5px; }
.inner-desc { font-weight:normal; font-size:0.8em; color:#5d5d5d; }

.inner-posts { display:table-cell; vertical-align:middle; text-align:center; border-right:solid 1px #c0c0c0; }
.inner-views { display:table-cell; vertical-align:middle; text-align:center; border-right:solid 1px #c0c0c0; }
.inner-details { display:table-cell; padding:4px; font-size:0.8em; }

.inner-paginate { font-size:0.8em; color:white; }
.inner-paginate>a { color:white !important; }
.inner-paginate>a:hover>span { background-color:#cc4040; }
.inner-paginate>a>span { padding:0 4px 0 4px; background-color:#ee6060; border-radius:3px; }

.sticky-thread { background-color:#FFFFDD; }

.sub-forum-list { font-size:0.9em; margin-top:4px; }
.sub-forum-list>a { margin-right:8px; white-space:nowrap; }

.new-sub { color: #CD853F; }

@media (min-width:1000px) {
	.overwrap-name { width:51% }
	.overwrap-posts { width:9%; }
	.overwrap-views { width:11%; }
	.overwrap-details { width:24%; }
	
	.inner-name { width:49%; }
	.inner-posts { width:10%; }
	.inner-views { width:10%; }
	.inner-details { width:27%; }
}

@media (min-width:700px) and (max-width:999px) {
	.overwrap-name { width:56% }
	.overwrap-posts { width:14%; }
	.overwrap-views { display:none !important; }
	.overwrap-details { width:24%; }
	
	.inner-name { width:57%; }
	.inner-posts { width:14%; }
	.inner-views { display:none !important; }
	.inner-details { width:29%; }
}

@media (min-width:550px) and (max-width:699px) {
	.overwrap-name { width:66% }
	.overwrap-posts { display:none !important; }
	.overwrap-views { display:none !important; }
	.overwrap-details { width:30%; }
	
	.inner-name { width:62%; }
	.inner-posts { display:none !important; }
	.inner-views { display:none !important; }
	.inner-details { width:34%; }
}

@media (max-width:549px) {
	.overwrap-name { width:100% }
	.overwrap-posts { display:none !important; }
	.overwrap-views { display:none !important; }
	.overwrap-details { display:none !important; }
	
	.inner-name { width:100%; }
	.inner-posts { display:none !important; }
	.inner-views { display:none !important; }
	.inner-details { display:none !important; }
}

/**************************
****** Thread Styles ******
**************************/

.thread-tline { background-color:#77b5db; border-radius:5px; padding:4px; margin-bottom:7px; color:white; font-weight:bold; overflow:hidden; }
#content .thread-tline a { color:white !important; }
.thread-tline a:hover { text-decoration:underline !important; }

.thread-page { background-color:rgba(190, 190, 90, 0.6); padding:2px 4px 2px 4px; border-radius:4px; }
.thread-tline .thread-page:hover { text-decoration:none !important; background-color:rgba(190, 90, 90, 1); }
.thread-page.thread-page-active { background-color:rgba(250, 90, 90, 1) !important; }

.thread-post { border:solid 1px #c0c0c0; border-radius:5px; background-color:#ffffff; margin-bottom:6px; overflow:hidden; }

/* Profile Picture Thread */
.post-left { display:table-cell; vertical-align:top; padding:4px; border-right:solid 1px #c0c0c0; }
.post-right { display:table-cell; vertical-align:top; padding:4px; width:100%; }

.post-status a { color:#5d5d5d !important; }
.post-status a:hover { color:#56ccc8 !important; }

.post-status-top { font-weight:bold; overflow:hidden; }
.post-status-bottom { margin-top:4px; font-size:0.8em; overflow:hidden; }

/* Responsive Threads */
@media (min-width:400px) and (max-width:799px) {
	.post-avatar-wrap img { width:128px; }
	.post-img-wrap img { width:64px; }
	.post-status { display:none; }
}

@media (min-width:0px) and (max-width:399px) {
	.post-avatar-wrap img { width:86px; }
	.post-img-wrap img { width:64px; }
	.post-status { display:none; }
}

/**********************
****** Signature ******
**********************/

.thread-signature { width:100%; margin-top: 18px; border-top:solid 1px #c0c0c0; max-height:280px; overflow-y:auto; }

/************************
****** User Colors ******
************************/

.role-admin { color:red; font-weight:bold; }
.role-staff { font-weight:bold; }
.role-artist { color:purple; font-weight:bold; }
.role-mod { color:orange; font-weight:bold; }
.role-programmer { color:green; font-weight:bold; }

