
/************************
****** Page Layout ******
************************/

@media screen and (min-width:1151px) {
	#content { margin-left:4px; max-width:100%; margin-right:307px; }
}

@media screen and (min-width:501px) and (max-width:1150px) {
	#content { margin-left:4px; margin-right:4px; }
}

@media screen and (max-width:500px) {
	#content { margin-left:0px; }
}

#panel { float:left; width:0px; }
#panel-left { display:none; width:215px; }
#viewport-wrap { max-width:1450px; margin:0 auto 0 auto; position:relative; padding:0; }

/*******************************************
****** Responsive (1151px and higher) ******
*******************************************/ @media screen and (min-width:1151px) {

#panel-right { position:absolute; right:3px; }
#panel-right-inner { padding:10px; margin-right:10px; max-width:100%; }

} /* End of Responsive - Desktop */

/******************************************
****** Responsive (1151px and Lower) ******
******************************************/ @media screen and (max-width:1150px) {

#panel-right { display:none; }

} /* End of Responsive - Mobile */
