.quote, .spoiler, pre {
	border-radius:4px;
	margin-left:2em;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	padding:5px;
}
.quote:before
{
	content:"\201C ";
	color:#2c7099;
	font-family:Georgia, serif;
	font-style:italic;
	font-size:3em;
	position:relative;
	left:-0.75em;
	top:-0.25em;
	float:left;
}
.spoiler:before
{
	content:"\e62b ";
	color:#2c7099;
	font-family:'icomoon';
	font-size:1.5em;
	position:relative;
	left:-1.45em;
	top:-0.25em;
	float:left;
}
pre:before
{
	content:"\e63b ";
	color:#2c7099;
	font-family:'icomoon';
	font-size:1.25em;
	position:relative;
	left:-1.75em;
	top:-0.25em;
	float:left;
}
.spoiler-header, .quote-by { color:#2c7099; cursor:pointer; border-radius:4px; }
.spoiler-header:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	margin:-5px;
	padding:5px;
	transition:0.1s ease-in-out;
}
.spoiler-content { display:none; }
pre { overflow:auto; font-family:Consolas,monospace; }