
/************************
****** Page Layout ******
************************/

@media screen and (min-width:1151px) {
	#content { margin-left:0px; max-width:100%; margin-right:260px; }
}

@media screen and (min-width:501px) and (max-width:1150px) {
	#content { margin-left:0px; margin-right:7px; }
}

@media screen and (max-width:500px) {
	#content { margin-left:0px; }
}

#panel { float:left; width:0px; }
#panel-left { display:none; width:245px; }
#viewport-wrap { max-width:1420px; position:relative; padding:0; }

/*******************************************
****** Responsive (1151px and higher) ******
*******************************************/ @media screen and (min-width:1151px) {

#panel-right { position:absolute; right:7px; }
#panel-right-inner { padding:10px; margin-right:10px; max-width:100%; }

} /* End of Responsive - Desktop */

/******************************************
****** Responsive (1151px and Lower) ******
******************************************/ @media screen and (max-width:1150px) {

#panel-right { display:none; }

} /* End of Responsive - Mobile */
