.quote, .spoiler, pre {
	border-radius:4px;
	margin-left:32px;
	background-color:#c7e0ee;	
	background-image:-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-moz-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-ms-linear-gradient(top, #c7e0ee, #e8eef1);
	background-image:-o-linear-gradient(#c7e0ee, #e8eef1);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c7e0ee), to(#e8eef1));
	background-image:-webkit-linear-gradient(top, #c7e0ee, #e8eef1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e0ee', endColorstr='#e8eef1');
	padding:5px;
	position:relative;
}
.quote:before, .spoiler:before, pre:before
{
	color:#2c7099;
	position:absolute;
	text-align:center;
	display:block;
	left:-32px;
	top:-0.25em;
	width:32px;
}

.quote:before
{
	content:"\201C ";
	font-family:Georgia, serif;
	font-style:italic;
	font-size:3em;
}
.spoiler:before
{
	content:"\e62b ";
	font-family:'icomoon';
	font-size:1.5em;
}
pre:before
{
	content:"\e63b ";
	font-family:'icomoon';
	font-size:1.25em;
}
.spoiler-header, .quote-by { color:#2c7099; cursor:pointer; border-radius:4px; }
.spoiler-header:hover
{
	background-color:#97d5fb;
	background-image:none;
	color:white !important;
	margin:-5px;
	padding:5px;
	transition:0.1s ease-in-out;
}
.spoiler-content { display:none; }
pre { overflow:auto; font-family:Consolas,monospace; }